<p><%= @report.start_date.strftime("%B %d, %Y") %> - <%= @report.end_date.strftime("%B %d, %Y") %></p>
<br/>
<div id="range-chart" class="chart"></div>
<%= render 'chart' %>

<p><%= link_to "Back", :back, class: 'btn btn-default'  %></p>